@model Shop.Models.Productos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre_Cliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Piezas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Piezas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Forma_Pago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Forma_Pago)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
